<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Lab Asset</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-[#1F456D] min-h-screen flex items-center justify-center">
    <div class="w-full max-w-md">
        <!-- Logo -->
        <div class="text-center mb-8">
            <div class="w-20 h-20 bg-teal-500 rounded-2xl mx-auto flex items-center justify-center shadow-lg">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-10 h-10 text-white" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 3v4l-4 7a4 4 0 004 6h6a4 4 0 004-6l-4-7V3" />
                </svg>

            </div>
            <h1 class="text-5xl font-bold text-white mt-6">LabAsset</h1>
            <p class="text-blue-200 mt-2 text-lg">Sistem Manajemen Aset Laboratorium</p>
        </div>

        <!-- Card Login -->
        <div class="bg-white rounded-3xl shadow-2xl p-10">
            <h2 class="text-3xl font-bold text-gray-800 mb-8">Masuk ke Sistem</h2>

            {% with messages = get_flashed_messages() %}
            {% if messages %}

            <div class="bg-red-100 text-red-700 px-4 py-3 rounded-lg mb-6">
                {{ messages[0] }}
            </div>

            {% endif %}
            {% endwith %}

            <form method="POST">
                <div class="mb-6">
                    <label class="block text-gray-500 uppercase text-sm font-semibold mb-2">Username</label>
                    <input type="text" name="username" placeholder="Masukkan username" 
                    class="w-full rounded-xl border border-gray-300 bg-gray-100 px-5 py-4 focus:outline-none focus:ring-2 focus:ring-teal-500" required>
                </div>

                <div class="mb-8">
                    <label class="block text-gray-500 uppercase text-sm font-semibold mb-2"> Password </label>
                    <input type="password"  name="password"  placeholder="Masukkan password"
                        class="w-full rounded-xl border border-gray-300 bg-gray-100 px-5 py-4 focus:outline-none focus:ring-2 focus:ring-teal-500" required>
                </div>

                <button type="submit" class="w-full bg-teal-600 hover:bg-teal-700 text-white text-xl font-semibold py-4 rounded-xl transition">
                    Masuk
                </button>
            </form>
        </div>
    </div>
</body>
</html>